<h1>Hi!</h1>
<p>Welcome to the B.O.M,B. Bank, where we serve all of your simian-related financial needs. Please note that starting December 4<sup>th</sup>, 2015, we will no longer be accepting bunches of bananas in denominations greater than 20 for deposit. Also, please stop leaving feces in your safe deposit boxes. Thank you for your cooperation!</p>
<p>Click on the Credit Application button above and fill out our form to see if you qualify for a monkey loan!</p>


<img src="features/landing/img/mojo.jpg">